<mat-toolbar class="navbar">
  <div class="navbar__wrapper">
    <div class="navbar__title-block">
      <a><img class="navbar__logo" src="../../../assets/img/logo.png" /></a>
      <div class="navbar__title-wrapper">
        <span class="navbar__title">Habr Test</span>
      </div>
    </div>

    <div class="navbar__btn-block">
      <button
        class="navbar__logout"
        *ngIf="getToken()"
        routerLink="/signup"
        mat-button
        (click)="logout()"
      >
        Выйти
      </button>
    </div>
  </div>
</mat-toolbar>
