.user-list {
  padding: 0;
  margin-top: 50px;
  font-family: "Open Sans", sans-serif;

  &__title {
    display: flex;
    justify-content: center;
    padding-top: 15px;
    padding-bottom: 15px;
    font-weight: bold;
    font-size: 20px;
  }

  &__search {
    display: grid;
    &-input {
      height: 40px;
      font-size: 17px;
      outline: none;
      padding: 0 10px 0 10px;
    }
  }
  &__online-indicator {
    width: 7px;
    height: 7px;
    background: greenyellow;
    margin-left: 10px;
    align-self: center;
    border-radius: 50%;
  }
  &__online-text {
    font-size: 14px;
    color: gray;
    margin-left: 5px;
  }
  &__content {
    height: 470px;
    overflow: scroll;
    overflow-x: hidden;
    margin-bottom: 0;
    max-width: 290px;
  }
  &__user {
    &-wrapper {
      padding: 14px 10px 9px 10px;
      display: flex;
      align-items: center;
      height: 50px;
    }
    &-username {
      align-self: center;
      font-size: 14px;
      font-weight: 600;
    }
  }
  &__actions {
    background: #f7f7f7;
    margin: 0;
  }
  &__mat-form-field {
    width: 100%;
    margin-right: 25px;
  }
}
@media (max-width: 769px) {
  .chat {
    margin-top: 0px;
    height: calc(100vh - 85px);
    &__content {
      padding-left: 30px;
      padding-right: 30px;
      height: calc(100% - 100px - 108px);
      padding-bottom: 0;
    }
    &__actions {
      position: fixed;
      width: 100%;
      bottom: 0;
    }
  }
}
