<mat-card class="user-list">
  <div class="user-list__header">
    <div class="user-list__title">Пользователи</div>
    <div class="user-list__search">
      <input
        placeholder="Поиск пользователя"
        class="user-list__search-input"
        type="text"
      />
    </div>
  </div>

  <mat-card-content class="user-list__content">
    <div *ngFor="let user of users | async" class="user-list__user">
      <div class="user-list__user-wrapper">
        <div class="user-list__user-username">{{ user.username }}</div>
        <div class="user-list__user-active">{{ user.is_active }}</div>
        <div class="user-list__user-firtname">{{ user.first_name }}</div>
        <div class="user-list__user-firtname">{{ user.last_name }}</div>
        <div class="user-list__user-lastlogin">{{ user.last_login }}</div>
      </div>
      <hr />
    </div>
  </mat-card-content>

  <mat-card-actions class="chat__actions"> </mat-card-actions>
</mat-card>
