<mat-card class="user-list">
  <div class="user-list__header">
    <div class="user-list__title">Пользователи</div>
    <div class="user-list__search">
      <input
        placeholder="Поиск..."
        class="user-list__search-input"
        matInput
        [(ngModel)]="query"
        autocomplete="off"
        type="text"
      />
    </div>
  </div>

  <mat-card-content class="user-list__content">
    <div
      *ngFor="let user of users | filter: 'username,text':query | sort: 'id'"
      class="user-list__user"
    >
      <div class="user-list__user-wrapper">
        <div class="user-list__user-username">
          {{ user.username }}
        </div>
        <div class="user-list__user-cont">
          <div class="user-list__user-fnln">
            {{ user.first_name + " " + user.last_name }}
          </div>
          <div class="user-list__user-date">
            {{ user.last_login }}
          </div>
        </div>
      </div>
      <hr />
    </div>
  </mat-card-content>
</mat-card>
