<mat-card class="user-list">
  <div class="user-list__header">
    <div class="user-list__title">Пользователи</div>
    <div class="user-list__search">
      <input
        placeholder="Поиск пользователя"
        class="user-list__search-input"
        matInput
        [(ngModel)]="query"
        autocomplete="off"
        type="text"
      />
    </div>
  </div>

  <mat-card-content class="user-list__content">
    <div
      *ngFor="let user of users | filter: 'username,text':query | sort: 'id'"
      class="user-list__user"
    >
      <div class="user-list__user-wrapper">
        <div class="user-list__user-username">{{ user.username }}</div>
        <div class="user-list__online-indicator"></div>
        <span class="user-list__online-text">Online</span>
      </div>
      <hr />
    </div>
  </mat-card-content>

  <mat-card-actions class="chat__actions"> </mat-card-actions>
</mat-card>
