.login {
  display: flex;
  justify-content: center;
  margin-top: 50px;
  width: 100vh;
  &__container {
    width: 385px;

    height: auto;
    background-color: whitesmoke;
    text-align: center;
  }
  &__validations {
    color: red;
  }
  &__password {
    margin-top: 5px;
  }
  &__buttons {
    display: block;

    &-enter {
      margin-top: 10px;
    }
    &-back {
      margin-top: 10px;
    }
  }
  &__button {
    font-size: 17px;
    color: white;
    background: rgba(50, 149, 165, 0.9);
    width: 250px;
  }
  &__header {
    text-align: center;
    display: flex;
    justify-content: center;
    color: black;

    margin-bottom: 40px;
  }
  &__title {
    margin-top: 10px;
    font-size: 25px;
  }
  &__content {
    display: grid;
  }
}
@media (max-width: 769px) {
  .login__container {
    width: 300px;
  }
}
