<div class="login">
  <mat-card class="login__container">
    <mat-card-header class="login__header">
      <mat-card-title class="login__title">Вход</mat-card-title>
    </mat-card-header>
    <form [formGroup]="signinForm" (ngSubmit)="submit()">
      <mat-error *ngIf="this.error === 'fail'"
        >Не верные данные для авторизации, повторите попытку</mat-error
      >
      <mat-card-content class="login__content">
        <mat-form-field hintLabel="Max 10 characters" appearance="fill">
          <mat-label>Логин</mat-label>
          <input
            formControlName="username"
            matInput
            #input
            placeholder="Введите логин"
            (keydown.enter)="submit()"
          />
          <mat-hint align="end">{{ input.value?.length || 0 }}/10</mat-hint>
          <mat-error *ngIf="signinForm.get('username').hasError('required')"
            >Заполните поле</mat-error
          >
        </mat-form-field>

        <mat-form-field class="login__password" appearance="fill">
          <mat-label>Пароль</mat-label>
          <input
            formControlName="password"
            matInput
            [type]="hide ? 'password' : 'text'"
          />

          <mat-error *ngIf="signinForm.get('password').hasError('required')"
            >Заполните поле</mat-error
          >
        </mat-form-field>
      </mat-card-content>
      <mat-card-actions class="login__buttons">
        <div class="login__buttons-enter">
          <button type="submit" class="login__button" mat-button>Войти</button>
        </div>
        <div class="login__buttons-back">
          <button class="login__button" mat-button routerLink="/signup">
            Регистрация
          </button>
        </div>
      </mat-card-actions>
    </form>
  </mat-card>
</div>
